@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
* {
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: hsl(218, 23%, 16%);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrap {
    position: relative;
    margin: 25vh auto 0;
    max-width: 540px;
    background-color: hsl(217, 19%, 24%);
    min-height: 200px;
    border-radius: 15px;
    padding: 50px;
    padding-bottom: 80px;
}
.title {
    color: hsl(150, 100%, 66%);
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.25em;
    font-weight: 800;
    
}
.descr {
    margin-top: 40px;
    color: hsl(193, 38%, 86%);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.divider{
    margin: 50px auto 0;
    width: 445px;
    display: block;
}
.dice{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: hsl(150, 100%, 66%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;  
}
.dice:active{
    box-shadow: 0px 0px 30px hsl(150, 100%, 66%);;
}

.dice img {
    width: 24px;
    height: 24px;
    
}


.attribution {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 376px) {
    .wrap {
        position: relative;
        margin: 15vh 10px 0;
        max-width: 100%;
        min-height: 200px;
        padding: 30px;
        padding-bottom: 70px;
    }
    .title {
        font-size: 12px;
        
    }
    .descr {
        margin-top: 40px;
        font-size: 28px;
    }
    .divider{
        margin: 40px auto 0;
        width: 285px;
    }
}